{% set keepalived = salt['grains.filter_by']({
    'default': {
      'pkg_name': 'keepalived',
      'service': {},
      'configs': [
        {
          'location': "/etc/keepalived/keepalived.conf",
          'source': "salt://keepalived/configs/keepalived.conf",
        }, {
          'location': "/etc/keepalived/keepalived.d/instances.conf",
          'source': "salt://keepalived/configs/instances.conf",
        }, {
          'location': "/etc/keepalived/keepalived.d/virtual_server.conf",
          'source': "salt://keepalived/configs/virtual_server.conf",
        }
      ],
    },
}, merge=salt['pillar.get']('keepalived')) %}
