{% set helm = salt['grains.filter_by']({
  'default': {
     'installer_url': "https://raw.githubusercontent.com/helm/helm/master/scripts/get",
     'options': [],
     'owner': "root"
  },
}, merge=salt['pillar.get']('helm')) %}
