{% set pkgs = salt['grains.filter_by']({
    'default': {
        'pip_packages': [],
        'os_packages': [],
        'post_install': [],
        'dist_upgrade': False,
    },
    'Windows': {
        'pip_packages': [],
        'os_packages': [],
    }
}, merge=salt['pillar.get']('pkgs')) %}


{% set pip_provider = salt['grains.filter_by']({
    'Debian': {
        'pip': ["python-pip"],
        'pip3': ["python3-pip"],
    },
    'RedHat': {
        'pip': ["python-pip"],
        'pip3': ["python3-pip"],
    }
}, merge=salt['pillar.get']('pip_provider')) %}
