{% set lxc = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ["lxc", "bridge-utils", "debootstrap", "libvirt0", "libpam-cgroup", "libpam-cgfs"],
        'service': "lxc",
        'config': [{
          'name': "/etc/default/lxc-net",
          'source': "salt://lxc/lxc-net",
        }],
        'sysctl_location': '/etc/sysctl.d/local.conf',
        'containers': {}
    },
}, merge=salt['pillar.get']('lxc', merge=True)) %}
