{% set helm = salt['grains.filter_by']({
  'default': {
     'installer_url': "https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-4",
     'options': [],
     'owner': "root",
     'plugins': [],
     'repositories': []
  },
}, merge=salt['pillar.get']('helm')) %}
