.idea
*.log
*.out
.runner/
.vagrant/
.local/
venv/
.kitchen/
.target/
Gemfile.lock
# local overrides for kitchen tests
kitchen.local.yml
requirements.lock
docker-compose.override.yml
ambassador-installer.override.conf
minion-zeus.override.conf