.idea
*.log
*.out
.runner/
.vagrant/
##### local
.local/
# local experiments
salt/base/top.sls
kitchen.local.yml
docker-compose.override.yml
config/ambassador-installer.override.conf
minion-zeus.override.conf
##### local end
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.kitchen/
.target/
Gemfile.lock
# local overrides for kitchen tests
requirements.lock
# chart dependencies
deployment/salt/charts/*.tgz
# lock file with precise dependent Chart information, ignoring for now
Chart.lock