{% set version = "1.29" %}
{% set kubernetes = salt['grains.filter_by']({
      'default': {
          'names': [
              "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v" ~ version ~ "/deb/ /"
          ],
          'file': '/etc/apt/sources.list.d/kubernetes.list',
          'key_url': "https://pkgs.k8s.io/core:/stable:/v" ~ version ~ "/deb/Release.key",
          'pkgs': ["kubelet", "kubeadm", "kubectl"],
          'config': {
            'locations': ["/etc/kubernetes/admin.conf"],
          },
          'user': "root",
          "distro": "kubeadm",
          'version': version,
          'nodes': {
            'masters': [],
            'workers': []
          },
          'container': {
            'runtime': "docker"
          }
      }
}, merge=salt['pillar.get']('kubernetes')) %}
