{% set kvm = salt['grains.filter_by']({
    'RedHat': {
      'prerequisites': [],
      'groups': ["libvirt", "libvirt-qemu", "kvm"],
      'users': []
    },
    'Debian': {
      'prerequisites': ["qemu-kvm", "bridge-utils", "libvirt-clients", "qemu-utils", "libvirt-daemon-system", "ovmf"],
      'groups': ["libvirt", "libvirt-qemu", "kvm"],
      'users': [],
      'vfio': {
        'enabled': False,
        'configs': [],
        'grub_update_cmd': "update-grub2",
        'initramfs_update_cmd': "update-initramfs -u -k all"
      }
    },
    'Windows': {
      'prerequisites': []
    },
}, merge=salt['pillar.get']('kvm')) %}
