{% set kvm = salt['grains.filter_by']({
    'RedHat': {
      'prerequisites': [],
      'groups': ["libvirt", "libvirt-qemu"],
      'users': []
    },
    'Debian': {
      'prerequisites': ["qemu-kvm", "libvirt-clients", "qemu-utils", "libvirt-daemon-system"],
      'groups': ["libvirt", "libvirt-qemu"],
      'users': []
    },
    'Windows': {
      'prerequisites': []
    },
}, merge=salt['pillar.get']('kvm')) %}
