{% from "docker/map.jinja" import docker as dockerd with context %}

{% set version = '1.22.0' %}
{% set os = salt['grains.get']('kernel') %}
{% set arch = salt['grains.get']('cpuarch') %}

{% set docker = salt['grains.filter_by']({
  'default': {
    'compose': {
      'url': "https://github.com/docker/compose/releases/download/" + version + "/docker-compose-" + os + "-" + arch,
      'location': "/opt/docker-compose",
      'owner': "root",
      'owner_link_location': "/root/bin/docker-compose"
    }
  },
}, merge=salt['pillar.get']('docker:compose')) %}

{% do docker.update(dockerd) %}
