{% set foreman = salt['grains.filter_by']({
    'default': {
        'installer_options': [],
        'tftp_root': "/srv/tftp",
        'config': [{
          'name': "/etc/dnsmasq.d/",
          'source': 'salt://foreman/config/dnsmasq.d/'
        }, {
          'name': "/etc/foreman-proxy/",
          'source': 'salt://foreman/config/foreman-proxy/'
        },{
          'name': "/etc/salt/",
          'source': 'salt://foreman/config/salt/'
        },{
          'name': "/srv/tftp/",
          'source': 'salt://foreman/config/tftp/',
          'user': 'foreman-proxy'
        }],
        'user': "foreman",
        'group': "foreman",
        'ssl': {},
        'services': ["foreman", "foreman-proxy", "dynflowd", "dnsmasq"],
        'setup': [],
    },
}, merge=salt['grains.filter_by']({
       'stretch': {
            'pkg_name': "foreman-installer",
            'names': [
                "deb http://deb.theforeman.org/ stretch 1.24",
                "deb http://deb.theforeman.org/ plugins 1.24"
            ],
            'file': "/etc/apt/sources.list.d/foreman.list",
            'key_url': "https://deb.theforeman.org/pubkey.gpg"
       },
       'buster': {
            'pkg_name': "foreman-installer",
            'names': [
                "deb http://deb.theforeman.org/ buster 1.24",
                "deb http://deb.theforeman.org/ plugins 1.24"
            ],
            'file': "/etc/apt/sources.list.d/foreman.list",
            'key_url': "https://deb.theforeman.org/pubkey.gpg"
       }
   }, grain='oscodename', merge=salt['pillar.get']('foreman'))) %}
