{# {% import_yaml "defaults.yaml" as defaults %} #}

{% set rebar = salt['grains.filter_by']({
    'default': {
        'destination_dir': '/opt',
        'generic_link': '/opt/default-rebar',
        'owner': 'root',
        'owner_home_dir': '/root',
        'exports_file': '/etc/zsh/zshrc',
        'environ_variable': 'REBAR_HOME',
        'path_inside': '',
        'orig_name': "rebar3",
        'git_url': "https://github.com/erlang/rebar3.git"
    },
    'Windows': {

    },
}, merge=salt['pillar.get']('rebar')) %}
