{% set version = salt['pillar.get']("scala:version", default='2.12.8') %}
{% set url = 'https://downloads.lightbend.com/scala/' + version + '/scala-' + version + '.tgz' %}
{% set scala = salt['grains.filter_by']({
    'default': {
        'download_url': url,
        'destination_dir': '/opt',
        'generic_link': '/opt/default-scala',
        'owner': 'root',
        'exports_file': '/etc/zsh/zshrc',
        'environ_variable': 'SCALA_HOME',
        'path_inside': 'bin'
    },
    'Windows': {
        'download_url': url,
        'destination_dir': 'C:\Program Files',
        'generic_link': 'C:\Program Files\default-scala',
        'owner': 'root',
        'exports_file': 'C:\dummy',
        'environ_variable': 'SCALA_HOME',
        'path_inside': 'bin'
    },
}, merge=salt['pillar.get']('scala')) %}
