{# {% import_yaml "defaults.yaml" as defaults %} #}

{% set sbt = salt['grains.filter_by']({
    'RedHat': {
        'baseurl': "https://sbt.bintray.com/rpm",
        'repo_id': "bintray--sbt-rpm",
        'exports_file': '/etc/zsh/zshrc',
        'environ_variable': 'SBT_HOME',
        'path_inside': 'bin',
        'generic_link': '$(readlink -f /usr/bin/sbt | sed "s:bin/sbt::")',
        'pkg_name': "sbt"
    },
    'Debian': {
        'names': [
            "deb https://dl.bintray.com/sbt/debian /"
        ],
        'file': '/etc/apt/sources.list.d/sbt.list',
        'exports_file': '/etc/zsh/zshrc',
        'environ_variable': 'SBT_HOME',
        'path_inside': 'bin',
        'generic_link': '$(readlink -f /usr/bin/sbt | sed "s:bin/sbt::")',
        'keyserver': "hkp://keyserver.ubuntu.com:80",
        'keyid': "2EE0EA64E40A89B84B2DF73499E82A75642AC823",
        'pkg_name': "sbt"
    },
    'Windows': {
        'names': [
            "deb https://dl.bintray.com/sbt/debian /"
        ],
        'file': '/etc/apt/sources.list.d/sbt.list',
        'exports_file': '/etc/zsh/zshrc',
        'environ_variable': 'SBT_HOME',
        'path_inside': 'bin',
        'generic_link': '$(readlink -f /usr/bin/sbt | sed "s:bin/sbt::")'
    },
}, merge=salt['pillar.get']('sbt')) %}
