{% from "_common/repo.jinja" import repository, preferences with context %}
{% from "_common/util.jinja" import pkg_latest_opts with context %}

{% macro add_environmental_variable(var_name, var_value, exports_file) %}
  {% if grains['os'] != 'Windows' %}
  file.append:
    - name: {{ exports_file }}
    - text: export {{ var_name }}={{ var_value }}
  {% else %}
  environ.setenv:
    - name: {{ var_name }}
    - value: {{ var_value }}
  {% endif %}
{% endmacro %}

{% macro add_to_path(environ_variable, path_inside, exports_file) %}
  envops.manage_path:
    - name: {{ environ_variable }}
    - directory_inside: {{ path_inside }}
    - exports_file: {{ exports_file }}
{% endmacro %}

{% macro link_to_bin(link_location, target_link, owner) %}
  file.symlink:
    - name: {{ link_location }}
    - target: {{ target_link }}
    - user: {{ owner }}
    - makedirs: True
{% endmacro %}

{% macro repo_pkg_service(state_id, conf_dict, run=True) %}
{{ repo_pkg(state_id, conf_dict) }}
{% if run %}
  service.running:
    - name: {{ conf_dict.service_name }}
    - enable: True
    - require:
{% if conf_dict.pkg_name is defined %}
      - pkg: {{ conf_dict.pkg_name }}
{% else %}
      - pkg: {{ state_id }}
{% endif %}
{% endif %}
{% endmacro %}

{% macro repo_pkg(state_id, conf_dict) %}
{{ repository(state_id ~ "_repository", conf_dict, enabled=(conf_dict.names is defined or conf_dict.repo_id is defined),
   require=[{'sls': "os"}]) }}
{% if conf_dict.required_pkgs is defined and conf_dict.required_pkgs %}
{{ state_id }}_requisites:
  pkg.latest:
    - pkgs: {{ conf_dict.required_pkgs|tojson }}
{{ pkg_latest_opts() | indent(4) }}
    - require:
      - pkgrepo: "{{ state_id }}_repository"
    - require_in:
      - pkg: {{ state_id }}
{% endif %}
{{ state_id }}:
{% if conf_dict.version is not defined %}
  pkg.latest:
{% if conf_dict.pkg_name is defined %}
    - name: {{ conf_dict.pkg_name }}
{% else %}
    - name: {{ state_id }}
    - pkgs: {{ conf_dict.pkg_names|tojson }}
{% endif %}
{{ pkg_latest_opts() | indent(4) }}
    - require:
      - pkgrepo: "{{ state_id }}_repository"
{% else %}
  pkg.installed:
{% if conf_dict.pkg_name is defined %}
    - name: {{ conf_dict.pkg_name }}
{% else %}
    - name: {{ state_id }}
    - pkgs: {{ conf_dict.pkg_names|tojson }}
{% endif %}
    - version: {{ conf_dict.version }}
    - refresh: True
    - require:
      - pkgrepo: "{{ state_id }}_repository"
{% endif %}
{% endmacro %}
