{# {% import_yaml "defaults.yaml" as defaults %} #}

{% set version = '5.3.1' %}
{% set url = 'https://services.gradle.org/distributions/gradle-' + version + '-all.zip' %}
{% set gradle = salt['grains.filter_by']({
    'default': {
        'download_url': url,
        'destination_dir': '/opt',
        'generic_link': '/opt/default-gradle',
        'owner': 'root',
        'exports_file': '/etc/zsh/zshrc',
        'environ_variable': 'GRADLE_HOME',
        'path_inside': 'bin',
    },
    'Windows': {
        'download_url': url,
        'destination_dir': 'C:\Program Files',
        'generic_link': 'C:\Program Files\default-gradle',
        'owner': 'root',
        'exports_file': 'C:\dummy',
        'environ_variable': 'GRADLE_HOME',
        'path_inside': 'bin'
    },
}, merge=salt['pillar.get']('gradle')) %}
