{% set samba = salt['grains.filter_by']({
    'RedHat': {
        'pkgs': ["samba"],
        'service_name': salt['grains.filter_by']({
            'default': 'smb',
        }, grain='oscodename'),
        'pam_mount_conf': "/etc/security/pam_mount.conf.xml",
        'pam_mount_conf_managed': "salt://samba/pam_mount.conf.xml"
    },
    'Debian': {
        'pkgs': ["libpam-mount", "samba", "cifs-utils"],
        'service_name': salt['grains.filter_by']({
            'lenny': 'samba',
            'squeeze': 'samba',
            'wheezy': 'samba',
            'jessie': 'smbd',
            'stretch': 'smbd',
            'default': 'smbd',
        }, grain='oscodename'),
        'pam_mount_conf': "/etc/security/pam_mount.conf.xml",
        'pam_mount_conf_managed': "salt://samba/pam_mount.conf.xml"
    },
    'Windows': {
    }
}, merge=salt['pillar.get']('samba')) %}
