{% set minion = salt['grains.filter_by']({
      'Debian': {
          'name': "deb http://repo.saltstack.com/py3/debian/10/amd64/latest buster main",
          'file': '/etc/apt/sources.list.d/salt.list',
          'key_url': "https://repo.saltstack.com/py3/debian/10/amd64/latest/SALTSTACK-GPG-KEY.pub",
          'pkg': "salt-minion",
          'health_file': "/tmp/salt/healthz",
          'event_tag': "salt/minion/" ~ grains['id'] ~ "/minion_ready",
          'service': "salt-minion",
          'startup': {
            'pip3': [],
            'pkgs': [],
            'files': []
          },
          'patch': {
            'files': []
          },
      }
}, merge=salt['pillar.get']('minion')) %}
