{% set mail = salt['grains.filter_by']({
    'RedHat': {
        'pkgs': ["exim4"],
        'service': 'exim4',
        'configs': []
    },
    'Debian': {
        'pkgs': ["exim4"],
        'service': 'exim4',
        'configs': [{
          'location': '/etc/exim4/update-exim4.conf.conf',
          'source': 'salt://mail/templates/update-exim4.conf.conf',
          'user': 'root',
          'group': 'root',
          'mode': '644',
          'settings': {
            'dc_eximconfig_configtype': 'smarthost',
            'dc_other_hostnames': '',
            'dc_local_interfaces': '127.0.0.1 ; ::1',
            'dc_readhost': '',
            'dc_relay_domains':'',
            'dc_minimaldns':'false',
            'dc_relay_nets':'',
            'dc_smarthost':'smtp.gmail.com::587',
            'CFILEMODE':'644',
            'dc_use_split_config':'true',
            'dc_hide_mailname':'false',
            'dc_mailname_in_oh':'true',
            'dc_localdelivery':'mail_spool',
            'MAIN_TLS_ENABLE': 1
          }
        },{
          'location': '/etc/exim4/passwd',
          'source': 'salt://mail/templates/passwd',
          'user': 'root',
          'group': 'Debian-exim',
          'mode': '640',
          'settings': {

          }
        },{
          'location': '/etc/email-addresses',
          'source': 'salt://mail/templates/email-addresses',
          'user': 'root',
          'group': 'root',
          'mode': '644',
          'settings': {

          }
        }]
    },
}, merge=salt['pillar.get']('mail')) %}
