{% set version = "2.2.19" %}
{% set dist_codename = salt['grains.get']('lsb_distrib_codename') %}
{% set vagrant = salt['grains.filter_by']({
  'RedHat': {
    'sources': [{'vagrant': "https://releases.hashicorp.com/vagrant/" + version + "/vagrant_" + version + "_x86_64.rpm"}],
    'owner': 'root',
  },
  'Debian': {
    'requisites': ["nfs-common", "nfs-kernel-server"],
    'sources': [],
    'names': [
        "deb [arch=amd64] https://apt.releases.hashicorp.com " ~ dist_codename ~ " main"
    ],
    'file': '/etc/apt/sources.list.d/vagrant.list',
    'key_url': "https://apt.releases.hashicorp.com/gpg",
    'owner': 'root',
    'plugins': []
  },
}, merge=salt['grains.filter_by']({
  'bullseye': {
    'plugins': [{
        'name': "vagrant-libvirt",
        'pkgs': ["qemu", "libvirt-dev", "ebtables", "dnsmasq-base", "libxslt1-dev", "libxml2-dev", "zlib1g-dev", "ruby-dev"],
        'env': "CONFIGURE_ARGS='with-libvirt-include=/usr/include/libvirt with-libvirt-lib=/usr/lib64'"
    }, {
        'name': "vagrant-lxc",
    }]
  },
  'buster': {
    'plugins': [{
        'name': "vagrant-libvirt",
        'pkgs': ["qemu", "libvirt-dev", "ebtables", "dnsmasq-base", "libxslt1-dev", "libxml2-dev", "zlib1g-dev", "ruby-dev"],
        'env': "CONFIGURE_ARGS='with-libvirt-include=/usr/include/libvirt with-libvirt-lib=/usr/lib64'"
    }, {
        'name': "vagrant-lxc",
    }]
  }
}, grain='oscodename', merge=salt['pillar.get']('vagrant'))) %}
