# used by install.py
pip~=23.3.2 # 24.3.1 https://github.com/saltstack/relenv/issues/186
cffi==1.16.0
six~=1.16.0
# pykeepass~=4.0.0  # to be removed after sdb://kdbx/ removal
gdrive~=0.1.5
jinja2~=3.1.2  # jinja2~=2.11.3
#PyYAML~=5.4.1  # not for ubuntu distros
#pygit2==1.6.1
pygit2==1.10.1
# Needed for Salt API
pyOpenSSL~=24.0.0
CherryPy~=18.8.0
cryptography==43.0.1
M2Crypto~=0.38.0
docker~=5.0.3  # required to setup salt in docker
MarkupSafe~=2.1.2  # https://github.com/saltstack/salt/issues/61666
