pip~=21.0.1
six~=1.15.0
pykeepass~=4.0.0
gdrive==0.0.8
jinja2~=2.11.3
PyYAML~=5.4.1
pygit2==1.0.3
# verify this is needed (should be needed for gitfs but double check)
pyOpenSSL~=20.0.1
# requests
# docker
pypass~=0.2.1
