{% set unattended = salt['grains.filter_by']({
    'Debian': {
        'required_pkgs': ["apt-listchanges", "unattended-upgrades"],
        'configs': [{
          'location': "/etc/apt/apt.conf.d/02periodic",
          'source': "salt://os/pkgs/unattended/templates/periodic.jinja",
          'settings': {
            'enabled': 1,
            'update_package_lists': 1,
            'download_upgradeable_packages': 1,
            'unattended_upgrade': 1,
            'auto_clean_interval': 90,
            'verbose': 2
          }
        },{
         'location': "/etc/apt/apt.conf.d/50unattended-upgrades",
         'source': "salt://os/pkgs/unattended/templates/unattended-upgrades.jinja",
         'settings': {
            'origins_patterns': ["origin=Debian,codename=${distro_codename},label=Debian-Security"],
            'package_blacklist': [],
            'mail': "root",
          }
        }]
    },
}, merge=salt['pillar.get']('pkgs:unattended')) %}
