{% set config = salt['grains.filter_by']({
    'default': {
        'source': "salt://mongodb/server/mongod.conf",
        'db_path': "/var/lib",
        'log_path': "/var/log",
        'pid_path': "/var/run/mongodb",
        'init': 'salt://mongodb/server/mongod.init',
        'init_location': '/etc/init.d/mongod',
        'service': 'mongod',
        'mode': "755"
    }
}, merge=salt['grains.filter_by']({
         'systemd': {
           'init': 'salt://mongodb/server/mongod.service',
           'init_location': '/lib/systemd/system/mongod@.service',
           'service': 'mongod',
           'mode': "644",
         }
       }, grain='init')) %}

{% set mongodb = salt['grains.filter_by']({
    'RedHat': {
        'repo_id': "mongodb-org-4.0",
        'baseurl': "https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/4.0/x86_64/",
        'gpgkey': "https://www.mongodb.org/static/pgp/server-4.0.asc",
        'pkg_name': "mongodb-org",
        'port': 27017,
        'user': "mongodb",
        'group': "mongodb",
        'config': config,
    },
    'Debian': {
        'names': [
          "deb http://repo.mongodb.org/apt/debian stretch/mongodb-org/4.0 main"
        ],
        'keyserver': "hkp://keyserver.ubuntu.com:80",
        'keyid': "9DA31620334BD75D9DCB49F368818C72E52529D4",
        'file': '/etc/apt/sources.list.d/mongodb-org-4.0.list',
        'pkg_name': "mongodb-org",
        'port': 27017,
        'user': "mongodb",
        'group': "mongodb",
        'config': config,
    }
}, merge=salt['grains.filter_by']({
       'jessie': {
         'names': [
            "deb http://repo.mongodb.org/apt/debian jessie/mongodb-org/4.0 main"
         ]
       },
       'xenial': {
          'names': [
             "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/4.0 multiverse"
          ],
       },
       'bionic': {
           'names': [
             "deb [ arch=amd64 ] https://repo.mongodb.org/apt/ubuntu bionic/mongodb-org/4.0 multiverse"
           ],
       }
   }, grain='oscodename', merge=salt['pillar.get']('mongodb'))) %}
