{%- from "kubernetes/map.jinja" import kubernetes as kubernetes_defaults with context %}

{%- set kubevirt_version = "v1.1.1" %}

{% set kubernetes = salt['grains.filter_by']({
  'default': {
    'kubevirt': {
        'version': kubevirt_version,
        'operator': "https://github.com/kubevirt/kubevirt/releases/download/" ~ kubevirt_version ~ "/kubevirt-operator.yaml",
        'cr': "https://github.com/kubevirt/kubevirt/releases/download/" ~ kubevirt_version ~ "/kubevirt-cr.yaml"
    }
  },
}, merge=kubernetes_defaults) %}
