{% macro users_state(saltenv) %}
include:
  - os
  - users.common
  - users.keys
  - users.vpn
  - users.dotfiles
  - users.cron
  - users.projects

users-notification:
  test.succeed_without_changes:
    - name: User setup completed
    - text: "user setup completed"
{% endmacro %}
