{% from "_common/ip.jinja" import ip with context %}

{% set config = salt['grains.filter_by']({
  'default': {
    'source': 'salt://redis/server/redis.conf',
    'conf_file': '/etc/redis/redis.conf',
    'pid': '/var/run/redis/redis-server.pid',
    'dir': "/var/lib/redis",
    'init': 'salt://redis/server/redis.init',
    'init_location': "/etc/init.d/redis-server",
    'service': "redis-server",
    'mode': "755",
  }
}, merge=salt['grains.filter_by']({
    'systemd': {
      'init': "salt://redis/server/redis@.service",
      'init_location': "/lib/systemd/system/redis@.service",
      'service': "redis",
      'mode': "644",
    }
}, grain='init')) %}

{% set instances = salt['grains.filter_by']({
  'default': {
    'masters': [{
                  'name': "master",
                  'ip': '127.0.0.1',
                  'port': 6379,
                }],
    'slaves': [{
                 'name': "slave",
                 'of_master': "master",
                 'ip': '127.0.0.1',
                 'port': 6380,
               }],
  },
}) %}

{% set redis = salt['grains.filter_by']({
  'RedHat': {
    'pkg_name': 'redis-server',
    'port': instances.masters|map(attribute='port')|first|default(6379),
    'ip': instances.masters|map(attribute='ip')|first|default(ip()),
    'config': config,
    'total_slots': 16384,
    'instances': instances,
    'replication_factor': 2,
  },
  'Debian': {
    'pkg_name': 'redis-server',
    'port': instances.masters|map(attribute='port')|first|default(6379),
    'ip': instances.masters|map(attribute='ip')|first|default(ip()),
    'config': config,
    'total_slots': 16384,
    'instances': instances,
    'replication_factor': 2,
  },
}, merge=salt['pillar.get']('redis')) %}
