{% macro k3s_install(installer_url, envs_list, args=None) %}
k3s:
  cmd.script:
    - name: {{ installer_url }}
    - env: {{ envs_list | tojson }}
{%- if args %}
    - args: {{ args }}
{%- endif %}
    - require:
      - file: k3s_config
      - file: k3s_registry_mirror

k3s-running:
  service.running:
    - name: {{ k3s.config.unit_name }}
    - enable: True
    - require:
      - cmd: k3s

{% endmacro %}
