{%- from "kubernetes/map.jinja" import kubernetes as kubernetes_defaults with context %}

{% set installer_config_contents = '' %}
{% set k3s = salt['grains.filter_by']({
  'default': {
    'distro_config': {
        'installer_file': "/etc/rancher/k3s/config.yaml",
        'installer_config': installer_config_contents,
        'installer_url': "https://get.k3s.io",
        'env': [],
        'token_file': "/var/lib/rancher/k3s/server/node-token"
    },
    'config': {
        'locations': ["/etc/rancher/k3s/k3s.yaml"],
        'unit_name': "k3s-agent",
    }
  },
}, merge=kubernetes_defaults) %}
