{%- from "kubernetes/map.jinja" import kubernetes as kubernetes_defaults with context %}

{% set installer_config_contents = '' %}
{% set registries_contents = '' %}
{% set k3s = salt['grains.filter_by']({
  'default': {
    'distro_config': {
        'installer_file': "/etc/rancher/k3s/config.yaml",
        'installer_config': installer_config_contents,
        'installer_url': "https://get.k3s.io",
        'registries_file': "/etc/rancher/k3s/registries.yaml",
        'registries': registries_contents,
        'env': [],
        'args': None,
        'token_file': "/var/lib/rancher/k3s/server/node-token"
    },
    'config': {
        'locations': ["/etc/rancher/k3s/k3s.yaml"],
        'statics': " /var/lib/rancher/k3s/server/manifests",
        'unit_name': "k3s-agent",
        'kubevip': {
            'vip': "127.0.0.1",
            'vip_interface': "lo",
            'bgp_peers': "",
            'cidr': "",
            'router_id': ""
        }
    }
  },
}, merge=kubernetes_defaults) %}
