{% set minion = salt['grains.filter_by']({
      'RedHat': {
          'baseurl': "https://repo.saltstack.com/py3/redhat/7/$basearch/latest",
          'repo_id': "saltstack",
          'gpgkey': "https://repo.saltstack.com/py3/redhat/7/$basearch/latest/SALTSTACK-GPG-KEY.pub",
          'pkg': "salt-minion",
          'health_file': "/tmp/salt/healthz",
          'event_tag': "salt/minion/" ~ grains['id'] ~ "/minion_ready",
          'service': "salt-minion",
      },
      'Debian': {
          'name': "deb http://repo.saltstack.com/py3/debian/10/amd64/latest buster main",
          'file': '/etc/apt/sources.list.d/saltstack.list',
          'key_url': "https://repo.saltstack.com/py3/debian/10/amd64/latest/SALTSTACK-GPG-KEY.pub",
          'pkg': "salt-minion",
          'health_file': "/tmp/salt/healthz",
          'event_tag': "salt/minion/" ~ grains['id'] ~ "/minion_ready",
          'service': "salt-minion",
      },
      'Windows': {

      },
}, merge=salt['pillar.get']('minion')) %}
