{% from "kubernetes/map.jinja" import kubernetes as kubernetes_defaults with context %}

{% set kubernetes = salt['grains.filter_by']({
  'default': {
     'master': {
       'reset': False,
       'isolate': True,
       'upload_config': True,
       'token_script': "salt://kubernetes/master/token.sh",
       'multi_master_config': "salt://kubernetes/master/kubeadm-config.yaml",
       'multi_master_config_location': "/etc/kubernetes/mmaster.yaml",
     }
  },
}, merge=kubernetes_defaults) %}
