{% set services = salt['grains.filter_by']({
  'default': {
    'list':[],
  },
  'Debian': {
    'list':[],
  },
}, merge=salt['grains.filter_by']({
  'sid': {
    'list': [],
  },
  'bullseye': {
    'list': [],
  }
}, grain='oscodename', merge=salt['pillar.get']('services'))) %}
