{% set cert = salt['grains.filter_by']({
    'default': {
      'pki_dir': "/etc/pki",
      'ca': "",
      'ca_key': "",
      'ca_keylen': 4096,
      'cn': ""
    },
}, merge=salt['pillar.get']('cert', merge=True)) %}
