{%- from "kubernetes/map.jinja" import kubernetes as kubernetes_defaults with context %}

{% set kubernetes = salt['grains.filter_by']({
  'default': {
    'metallb': {
        'helm': {
            'name': "metallb",
            'namespace': "metallb-system",
            'version': "0.14.3",
            'repo': "metallb",
            'chart': "metallb",
            'set': [],
        },
        'config': {
            'addresses': [],
        }
    }
  },
}, merge=kubernetes_defaults) %}
