{% set grafana = salt['grains.filter_by']({
    'RedHat': {
        'baseurl': "https://packages.grafana.com/oss/rpm",
        'repo_id': "grafana",
        'gpgkey': "https://packages.grafana.com/gpg.key",
        'pkg_name': "grafana",
        'service_name': "grafana-server",
    },
    'Debian': {
        'names': [
            "deb https://packages.grafana.com/oss/deb stable main"
        ],
        'file': '/etc/apt/sources.list.d/grafana.list',
        'key_url': "https://packages.grafana.com/gpg.key",
        'pkg_name': "grafana",
        'service_name': "grafana-server"
    },
    'Windows': {

    },
}, merge=salt['pillar.get']('grafana')) %}
