{% set arch = salt['grains.get']("osarch") %}

{% set salt_installer = salt['grains.filter_by']({
    'default': {
        'repository': {
            'file': "/etc/apt/sources.list.d/saltstack.list",
        },
        'master': {
            'config': [],
            'pkg_name': "salt-master",
            'service': "salt-master",
            'service_init_delay': 5,
            'interface': "0.0.0.0",
            'sync_cmd': "salt-run saltutil.sync_all"
        },
        'api': {
            'config': [],
            'port': 9191,
            'pkg_name': "salt-api",
            'file': "/etc/apt/sources.list.d/saltstack.list",
        },
        'ssh': {
            'config': [],
            'pkg_name': "salt-ssh",
            'file': "/etc/apt/sources.list.d/saltstack.list",
        }
    },
}, merge=salt['grains.filter_by']({
       'bookworm': {
         'repository': {
           'names': [
                "deb [arch=" ~ arch ~ "] https://repo.saltproject.io/salt/py3/debian/12/amd64/latest bookworm main"
           ],
           'key_url': "https://repo.saltproject.io/salt/py3/debian/12/arm64/SALT-PROJECT-GPG-PUBKEY-2023.gpg",
           'origin': 'bookworm'
         }
       },
       'focal': {
         'repository': {
           'names': [
                "deb [arch=" ~ arch ~ "] https://repo.saltproject.io/salt/py3/ubuntu/20.04/amd64/latest focal main"
           ],
           'key_url': "https://repo.saltproject.io/salt/py3/ubuntu/20.04/amd64/SALT-PROJECT-GPG-PUBKEY-2023.gpg",
           'origin': 'focal'
         }
       }
   }, grain='oscodename', merge=salt['pillar.get']('salt_installer'))) %}
