{% set version = '2.292.0' %}
{% set url = 'https://github.com/actions/runner/releases/download/v' + version + '/actions-runner-linux-x64-' + version + '.tar.gz' %}
{% set ghrunner = salt['grains.filter_by']({
  'default': {
    'download_url': url,
    'destination_dir': '/opt/ghrunner' ~ version,
    'generic_link': '/opt/gh-runner',
    'owner': 'root',
  }
}, merge=salt['pillar.get']('ghrunner')) %}