{% from "kubernetes/map.jinja" import kubernetes as kubernetes_defaults with context %}

{% set kubernetes = salt['grains.filter_by']({
  'default': {
     'client': {
       'pkgs': ["kubectl"],
     }
  },
}, merge=kubernetes_defaults) %}
