{# https://github.com/bechtoldt/saltstack-keepalived-formula/blob/master/keepalived/files/configs #}

{%- macro k_v(paramname, d, separator=' ') -%}
  {%- if paramname in d -%}
{{ paramname }}{{ separator }}{{ d[paramname] }}
  {%- endif -%}
{%- endmacro -%}

{%- macro k_v_escaped(paramname, d, separator=' ') -%}
  {%- if paramname in d -%}
{{ paramname }}{{ separator }}"{{ d[paramname] }}"
  {%- endif -%}
{%- endmacro -%}

{%- macro p_blocklist(paramname, dictvar) -%}
  {%- if paramname in dictvar -%}
{{ paramname ~ ' {\n'}}
  {%- for i in dictvar[paramname] -%}
  {{- '  ' ~ i ~'\n' -}}
  {%- endfor -%}
}
  {%- endif -%}
{%- endmacro -%}

{%- macro p_blockdict(paramname, dictvar, nestedparams) -%}
  {%- if paramname in dictvar -%}
{{ paramname ~ ' {\n'}}
  {%- for n in nestedparams -%}
  {{ '  ' ~ k_v(n, dictvar[paramname]) ~ '\n' }}
  {%- endfor -%}
}
  {%- endif -%}
{%- endmacro -%}
