{% from "_common/util.jinja" import retry with context %}


{% macro repository(id, repo, enabled=True, require=[], require_in=[], refresh=True, consolidate=False) %}
{% if enabled %}
{{ id }}:
  pkgrepo.managed:
    - names: {{ repo.names|tojson }}
    - file: {{ repo.file }}
  {% if (repo.file | regex_match(".*sources")) is not none %}
    - types:
      - deb
    - aptkey: False
    {% if repo.suites is defined %}
    - suites: {{ repo.suites|tojson }}
    {% endif %}
  {% endif %}
  {% if repo.key_text is defined %}
    - key_text: {{ repo.key_text|yaml_encode }}
  {% elif repo.keyid is defined %}
    - keyid: {{ repo.keyid }}
    - keyserver: {{ repo.keyserver }}
  {% elif repo.key_url is defined %}
    - key_url: {{ repo.key_url }}
    - aptkey: False
  {% endif %}
    - refresh: {{ refresh }}
    - consolidate: {{ consolidate }}
{{ retry()| indent(4) }}
    - require: {{ require }}
    - require_in: {{ require_in }}
{% endif %}
{% endmacro %}

{% macro preferences(id, conf, preferences_source, preferences_file) %}
{{ id }}:
  file.managed:
    - name: {{ preferences_file }}
    - source: {{ preferences_source }}
    - template: jinja
    - makedirs: True
    - create: True
    - context:
{%- if conf.package is defined %}
        package: {{ conf.package }}
{%- endif %}
        pin: {{ conf.pin }}
        priority: {{ conf.priority }}
{% endmacro %}
